# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/

# Ruby
Gemfile.lock
*.gem

# Logs
*.log

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*