<div class="icons">
  <div class="icon">
    <i class="fa-regular fa-traffic-cone"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-truck-monster"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-discord"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-flag-usa"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-react"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-git"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-motorcycle"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-film"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-android"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-angular"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-github"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-gamepad-modern"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-outlet"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-user-astronaut"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-node"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-aws"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-camera-retro"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-bolt-lightning"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-user-bounty-hunter"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-square-js"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-css3-alt"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-code"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-lightbulb-cfl-on"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-keyboard"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-java"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-ember"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-ubuntu"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-laptop-binary"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-wifi"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-docker"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-swift"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-hooli"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-car"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-star-shooting"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-router"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-stack-overflow"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-vuejs"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-gulp"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-user-chef"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-utensils"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-raygun"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-sass"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-jenkins"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-screwdriver-wrench"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-computer"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-figma"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-sketch"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-jira"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-dog"></i>
  </div>
  <div class="icon">
    <i class="fa-regular fa-kitchen-set"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-npm"></i>
  </div>
  <div class="icon">
    <i class="fa-brands fa-php"></i>
  </div>
</div>

<script>
  document.querySelectorAll('.icon').forEach((icon) => {
    icon.addEventListener('click', () => {
      icon.classList.add('shake');
      setTimeout(() => {
        icon.classList.remove('shake');
      }, 300);
    });
  });
</script>