<div class="icons-container">
  <h2 class="icons-title">Explore My World</h2>
  <div class="icons" style="padding: 0 10px;">
    <!-- Technology/Skills -->
    <a href="{{ '/tag/react/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-brands fa-react"></i>
      </div>
      <span class="icon-label">React</span>
    </a>
    
    <a href="{{ '/movie-reviews/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-regular fa-film"></i>
      </div>
      <span class="icon-label">Movie Reviews</span>
    </a>
    
    <a href="{{ '/tag/thoughts/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-regular fa-thought-bubble"></i>
      </div>
      <span class="icon-label">Random Thoughts</span>
    </a>
    
    <a href="{{ '/tag/aws/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-brands fa-aws"></i>
      </div>
      <span class="icon-label">AWS</span>
    </a>
    
    <!-- Hobbies/Interests -->
    <a href="{{ '/photography' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-regular fa-camera-retro"></i>
      </div>
      <span class="icon-label">Photography</span>
    </a>
    
    <a href="{{ '/photography/cobol' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-regular fa-dog"></i>
      </div>
      <span class="icon-label">Dog</span>
    </a>
    
    <a href="{{ '/tag/home-improvement/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-regular fa-house"></i>
      </div>
      <span class="icon-label">Home Improvement</span>
    </a>
    
    <a href="{{ '/tag/gaming/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-regular fa-gamepad-modern"></i>
      </div>
      <span class="icon-label">Gaming</span>
    </a>
    
    <!-- Programming -->
    <a href="{{ '/tag/javascript/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-brands fa-square-js"></i>
      </div>
      <span class="icon-label">JavaScript</span>
    </a>
    
    <a href="{{ '/tag/css/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-brands fa-css3-alt"></i>
      </div>
      <span class="icon-label">CSS</span>
    </a>
    
    <a href="{{ '/tag/coding/' | relative_url }}" class="icon-link">
      <div class="icon">
        <i class="fa-regular fa-code"></i>
      </div>
      <span class="icon-label">Coding</span>
    </a>
    
    <a href="{{ site.posts.first.url | relative_url }}" class="icon-link featured">
      <div class="icon">
        <i class="fa-regular fa-lightbulb-cfl-on"></i>
      </div>
      <span class="icon-label">Latest Blog</span>
    </a>
  </div>
</div>

<script>
  document.querySelectorAll('.icon').forEach((icon) => {
    icon.addEventListener('click', (e) => {
      icon.classList.add('shake');
      setTimeout(() => {
        icon.classList.remove('shake');
      }, 300);
    });
  });
</script>