<div class="menu-popup">
  <div class="menu-container">
    <div class="menu-item">
      <a href="{{ '/resume/' | relative_url }}" class="menu-item no-decoration">Resume</a>
    </div>
    <div class="menu-item">
      <a href="{{ '/portfolio/' | relative_url }}" class="menu-item no-decoration">Portfolio</a>
    </div>
    <div class="menu-item">
      <a href="{{ '/blog/' | relative_url }}" class="menu-item">Blog</a>
    </div>
    <div class="menu-item">
      <a href="{{ '/photography/' | relative_url }}" class="menu-item">Photography</a>
    </div>
    <div class="menu-item">
      <a href="mailto:charles@charlesabarnes.com" class="button no-decoration">Contact</a>
    </div>
  </div>
</div>