<div class="menu-popup">
  <div class="menu-container">
    <div class="menu-item">
      <a href="{{ '/resume/' | relative_url }}" class="no-decoration">Resume</a>
    </div>
    <div class="menu-item">
      <a href="{{ '/portfolio/' | relative_url }}" class="no-decoration">Portfolio</a>
    </div>
    <div class="menu-item">
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
    </div>
    <div class="menu-item">
      <a href="{{ '/photography/' | relative_url }}">Photography</a>
    </div>
    <div class="menu-item">
      <a href="mailto:charles@charlesabarnes.com" class="button no-decoration">Contact</a>
    </div>
    <div class="menu-item theme-toggle-mobile">
      <button onclick="toggleTheme(); updateMobileThemeButton();" class="mobile-theme-toggle-button">
        <i class="fa-regular fa-sun"></i>
        <span class="theme-text">Toggle Dark Mode</span>
      </button>
    </div>
  </div>
</div>