---
layout: default
title: Charles Barnes - Photography
---

<div class="photography-list">
  <h1>Photography</h1>
  
  {% if site.photography.size > 0 %}
    <div class="gallery-list">
      {% for album in site.photography %}
        <div class="gallery-item">
          <a href="{{ album.url | relative_url }}" class="gallery-link">
            <img src="https://picsum.photos/600/400?random={{ forloop.index | plus: 100 }}" alt="{{ album.title }}" class="gallery-thumbnail">
            <div class="gallery-info">
              <h2 class="gallery-title">{{ album.title }}</h2>
              {% if album.date %}
                <div class="gallery-date">{{ album.date | date: "%B %Y" }}</div>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No photo albums yet. Check back soon!</p>
  {% endif %}
</div>