---
layout: default
title: Charles Barnes - Blog
---

<div class="blog-list">
  <h1>Blog</h1>
  
  {% if site.posts.size > 0 %}
    <div class="posts-grid">
      {% for post in site.posts %}
        <div class="blog-post-item">
          {% if post.image %}
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="blog-post-image">
          {% else %}
            <img src="{{ '/assets/images/blog/default-image.png' | relative_url }}" alt="{{ post.title }}" class="blog-post-image">
          {% endif %}
          
          <div class="blog-post-content">
            <h2 class="blog-post-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            
            <div class="blog-post-meta">
              {{ post.date | date: "%B %d, %Y" }}
              {% if post.categories.size > 0 %}
              <span class="post-categories">
                {% for category in post.categories %}
                <span class="post-category">{{ category }}</span>
                {% endfor %}
              </span>
              {% endif %}
            </div>
            
            <div class="blog-post-excerpt">
              {{ post.excerpt | strip_html | truncatewords: 30 }}
            </div>
            
            <a href="{{ post.url | relative_url }}" class="blog-post-read-more">Read More</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No blog posts yet. Check back soon!</p>
  {% endif %}
</div>