---
layout: default
---
<div class="photo-album">
  <h1 class="album-title">{{ page.title }}</h1>
  
  {% if page.description %}
  <div class="album-description">
    {{ page.description }}
  </div>
  {% endif %}
  
  <div class="photo-grid">
    {% for image in page.images %}
    <div class="photo-item">
      <a href="https://picsum.photos/1200/800?random={{ forloop.index | plus: 200 }}" class="photo-link">
        <img src="https://picsum.photos/1200/800?random={{ forloop.index | plus: 200 }}" alt="{{ image.caption }}" class="photo-image">
      </a>
      {% if image.caption %}
      <div class="photo-caption">{{ image.caption }}</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>