---
layout: default
---

<div class="blog-list">
  <h1>Posts tagged: {{ page.tag }}</h1>
  
  {% if site.tags[page.tag].size > 0 %}
    <div class="posts-grid">
      {% for post in site.tags[page.tag] %}
        <div class="blog-post-item">
          {% if post.image %}
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="blog-post-image">
          {% elsif post.categories contains 'development' or post.categories contains 'frontend' %}
            <img src="https://picsum.photos/800/450?random={{ forloop.index }}" alt="{{ post.title }}" class="blog-post-image">
          {% elsif post.categories contains 'photography' %}
            <img src="https://picsum.photos/800/450?random={{ forloop.index | plus: 10 }}" alt="{{ post.title }}" class="blog-post-image">
          {% else %}
            <img src="https://picsum.photos/800/450?random={{ forloop.index | plus: 20 }}" alt="{{ post.title }}" class="blog-post-image">
          {% endif %}
          
          <div class="blog-post-content">
            <h2 class="blog-post-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            
            <div class="blog-post-meta">
              {{ post.date | date: "%B %d, %Y" }}
              {% if post.categories.size > 0 %}
              <span class="post-categories">
                {% for category in post.categories %}
                <span class="post-category">{{ category }}</span>
                {% endfor %}
              </span>
              {% endif %}
            </div>
            
            <div class="blog-post-excerpt">
              {{ post.excerpt | strip_html | truncatewords: 30 }}
            </div>
            
            <a href="{{ post.url | relative_url }}" class="blog-post-read-more">Read More</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No posts with this tag yet.</p>
  {% endif %}
</div>